<h1>Dragonball Characters</h1>

<section class="row">

    <div class="col-12 col-sm-6">
        <h3>Agregar: {{name()}}</h3>
        <input type="text" class="form-control" placeholder="Nombre" [value]="name()" (input)="name.set(txtName.value)"
            #txtName>

        <h3>Poder: {{power()}}</h3>
        <input type="number" class="form-control mt-2" placeholder="Poder" [value]="power()"
            (input)="power.set(+numberPower.value)" #numberPower>

        <button (click)="addCharacter()" class="btn btn-primary mt-3">Agregar</button>
    </div>

    <div class="col-12 col-sm-6">
        <h3>Personajes</h3>
        <ul>
            @for (character of characters(); track character.id; let i = $index) {
            @if (character.power > 500) {
            <li>
                <span class="mx-2">{{ i + 1}}. {{ character.name }}</span>
                <strong [class.text-danger]="character.power > 9000" [class.text-info]="character.power < 9000">
                    ({{character.power }})</strong>
            </li>
            }@else {
            <li>
                <h3>Bajo poder</h3>
                <span class="mx-2">{{ i + 1}}. {{ character.name }}</span>
                <strong class="text-muted mx-2">
                    ({{character.power }})</strong>
            </li>
            }
            }
            <!-- @for (character of characters(); track character.id) {
            <li>
                <span class="mx-2">{{ character.name }}</span>
                <strong class="text-danger mx-2"> - {{ character.power }}</strong>
            </li>
            } -->
        </ul>
    </div>

</section>